<template>
  <div class="c-canvas">
    <element-resolver
      v-for="element in elements"
      :key="element.id"
      :element="element"/>

    <button class="c-canvas__add-text-button" @click="addElement(ElementType.Text)">
      <i class="fas fa-font"></i>
    </button>
    <button class="c-canvas__add-container-button" @click="addElement(ElementType.Container)">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

// Components
import ElementResolver from '@/components/element-resolver.component.vue';

// Models
import { ContainerElementModel } from '@/models/container-element.model';
import { GenericElementModel } from '@/models/generic-element.model';
import { TextElementModel } from '@/models/text-element.model';

import { ElementType } from '@/types';

@Component({
  components: {
    ElementResolver
  }
})
export default class CanvasLayer extends Vue {
  @Prop({
    type: Array,
    required: true
  })
  private elements!: GenericElementModel[];

  private ElementType = ElementType;

  private addElement (type: ElementType): void {
    if (type === ElementType.Container) {
      this.$emit('new-element', new ContainerElementModel());
    }
    if (type === ElementType.Text) {
      this.$emit('new-element', new TextElementModel());
    }
  }
}
</script>

<style lang="scss" scoped>
  .c-canvas {
    position: relative;
    background-image: url('../assets/canvas_background.png');
    background-repeat: repeat;
    background-size: auto;
    overflow: hidden;

    &__add-container-button,
    &__add-text-button {
      position: absolute;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      font-size: 1.5rem;
      font-weight: bold;

      &:hover {
        background: rgba(0,0,0,0.1);
      }
    }

    &__add-container-button {
      bottom: 1rem;
      right: 1rem;
    }

    &__add-text-button {
      bottom: 1rem;
      right: 6rem;
    }
  }
</style>
