<template>
  <draggable-box class="c-container" :class="{'c-container--fullscreen': isFullscreen}" :element="element" :style="{'z-index': depth}">
    <template v-slot:header>
      <div class="c-container-header" @wheel="(event) => handleWheelEvent(event)">
        <p class="c-container-header__name">
          {{ isFullscreen ? element.breadcrumbs : `Container - ${element.name}` }}
        </p>
      </div>
    </template>

    <div class="c-container__description" ref="description" v-show="!isFullscreen">
      {{ element.description }}
    </div>

    <canvas-layer
      class="c-container__canvas"
      :elements="element.children"
      @new-element="handleNewElement"
      v-if="isFullscreen"
    />
  </draggable-box>
</template>

<script lang="ts">
import marked from 'marked/marked.min.js';
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';

// Components
import DraggableBox from '@/components/draggable-box.component.vue';

// Models
import { ContainerElementModel } from '@/models/container-element.model';
import { GenericElementModel } from '@/models/generic-element.model';

import { ElementType } from '@/types';

@Component({
  components: {
    DraggableBox
  }
})
export default class ContainerElement extends Vue {
  @Prop({
    type: Object,
    required: true
  })
  private element!: ContainerElementModel;

  private isFullscreen = false;

  get depth (): number {
    let depth = 1;
    let parent = this.$parent;

    while (parent.$parent) {
      depth++;
      parent = parent.$parent;
    }

    if (this.isFullscreen) {
      depth++;
    }

    return depth;
  }

  mounted (): void {
    this.handleDescriptionChange();
  }

  @Watch('element.description')
  private handleDescriptionChange () {
    (this.$refs.description as Element).innerHTML = marked(this.element.description);
  }

  private handleNewElement (element: GenericElementModel) {
    if (element.type === ElementType.Container) {
      (element as ContainerElementModel).parent = this.element;
    }

    this.$store.dispatch('addElement', {
      element,
      containerId: this.element.id
    });
  }

  private handleWheelEvent (event: WheelEvent) {
    this.isFullscreen = event.deltaY < 0;
  }
}
</script>

<style lang="scss" scoped>
  .c-container {
    &--fullscreen {
      position: fixed;
      top: 54px !important;
      left: 0 !important;
      width: 100% !important;
      height: calc(100% - 54px) !important;
      box-shadow: 0 0 4px 1px #404040;
      border: none;
    }

    &__header {
      padding: 0.5rem;
      background: grey;
      cursor: grab;
    }

    &__description {
      padding: 0.5rem;
      flex: 1;
      overflow: auto;
    }

    &__canvas {
      flex: 1;
    }
  }

  .c-container-header {
    display: flex;
    align-items: center;

    &__name {
      margin: 0;
      flex: 1;
    }
  }
</style>
