<template>
  <div
    class="c-box"
    :class="{
      'c-box--dragging': isDragging,
      'c-box--highlight': isHighlighted
    }"
    :style="styles">
    <div class="c-box__header" @mousedown="(event) => startDragging(event)">
      <slot name="header">
        {{ element.type }}
      </slot>
    </div>

    <slot></slot>

    <div class="c-box__resize c-box__resize--top" @mousedown="(event) => startResize(event, 'top')"/>
    <div class="c-box__resize c-box__resize--bottom" @mousedown="(event) => startResize(event, 'bottom')"/>
    <div class="c-box__resize c-box__resize--left" @mousedown="(event) => startResize(event, 'left')"/>
    <div class="c-box__resize c-box__resize--right" @mousedown="(event) => startResize(event, 'right')"/>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { GenericElementModel } from '@/models/generic-element.model';

@Component
export default class DraggableBox extends Vue {
  @Prop({
    type: Object,
    required: true
  })
  private element!: GenericElementModel;

  private isDragging = false;

  get depth (): number {
    let depth = 0;
    let parent = this.$parent;

    while (parent.$parent) {
      depth++;
      parent = parent.$parent;
    }

    return depth;
  }

  get isHighlighted (): boolean {
    const searchText = this.$store.state.searchText;
    return searchText !== null ? this.element.isSearchRelevant(searchText) : false;
  }

  get styles (): Record<string, string | number> {
    return {
      top: `${this.element.positionY}px`,
      left: `${this.element.positionX}px`,
      width: `${this.element.width}px`,
      height: `${this.element.height}px`,
      'z-index': this.depth
    };
  }

  private startDragging (event: MouseEvent): void {
    this.isDragging = true;

    let currentMouseX = event.clientX;
    let currentMouseY = event.clientY;

    const handleMouseMove = (event: MouseEvent) => {
      const differenceX = event.clientX - currentMouseX;
      const differenceY = event.clientY - currentMouseY;

      currentMouseX = event.clientX;
      currentMouseY = event.clientY;

      this.element.positionX += differenceX;
      this.element.positionY += differenceY;

      if (this.element.positionX < 0) this.element.positionX = 0;
      if (this.element.positionY < 0) this.element.positionY = 0;
    };

    window.addEventListener('mousemove', handleMouseMove);
    window.addEventListener('mouseup', () => {
      this.isDragging = false;
      window.removeEventListener('mousemove', handleMouseMove);
    });
  }

  private startResize (event: MouseEvent, side: string): void {
    this.isDragging = true;

    let currentMouseX = event.clientX;
    let currentMouseY = event.clientY;

    const handleMouseMove = (event: MouseEvent) => {
      const differenceX = event.clientX - currentMouseX;
      const differenceY = event.clientY - currentMouseY;

      currentMouseX = event.clientX;
      currentMouseY = event.clientY;

      if (side === 'top') {
        this.element.positionY += differenceY;
        this.element.height -= differenceY;
      }
      if (side === 'bottom') {
        this.element.height += differenceY;
      }
      if (side === 'left') {
        this.element.positionX += differenceX;
        this.element.width -= differenceX;
      }
      if (side === 'right') {
        this.element.width += differenceX;
      }

      if (this.element.width < 0) this.element.width = 0;
      if (this.element.height < 0) this.element.height = 0;
    };

    window.addEventListener('mousemove', handleMouseMove);
    window.addEventListener('mouseup', () => {
      this.isDragging = false;
      window.removeEventListener('mousemove', handleMouseMove);
    });
  }
}
</script>

<style lang="scss" scoped>
  .c-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 10rem;
    height: 20rem;
    background: white;
    border: 1px solid grey;
    border-radius: 4px;
    box-shadow: 0 0 4px 1px #404040;
    transition: top 0.4s, left 0.4s, width 0.4s, height 0.4s, box-shadow 0.4s;

    &--dragging {
      transition: none;

      .c-box__header {
        cursor: grabbing;
      }
    }

    &--highlight {
      box-shadow: 0 0 4px 4px #007BFF;
    }

    &__resize {
      position: absolute;
      background: transparent;

      &--top,
      &--bottom {
        width: 100%;
        height: 4px;
        cursor: row-resize;
      }

      &--left,
      &--right {
        width: 4px;
        height: 100%;
        cursor: col-resize;
      }

      &--top {
        top: 0;
      }

      &--bottom {
        bottom: 0;
      }

      &--left {
        left: 0;
      }

      &--right {
        right: 0;
      }
    }

    &__header {
      padding: 0.5rem;
      color: white;
      background: grey;
      cursor: grab;
    }
  }
</style>
