<template>
  <component :is="resolvedComponent" :element="element"/>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

// Components
import ContainerElement from '@/components/container-element.component.vue';
import TextElement from '@/components/text-element.component.vue';

// Models
import { GenericElementModel } from '@/models/generic-element.model';
import { ElementType } from '@/types';

@Component
export default class ElementResolver extends Vue {
  @Prop({
    type: Object,
    required: true
  })
  private element!: GenericElementModel;

  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  get resolvedComponent () {
    if (this.element.type === ElementType.Container) {
      return ContainerElement;
    }
    if (this.element.type === ElementType.Text) {
      return TextElement;
    }
  }
}
</script>
