<template>
  <div class="c-global-search">
    <input class="form-control c-global-search__input" v-model.trim="searchText" placeholder="Search...">
    <button class="c-global-search__clear" :class="{'c-global-search__clear--hide': searchText === null}" type="button" @click="clearSearchText()">
      <i class="fas fa-times"/>
    </button>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class GlobalSearch extends Vue {
  private tempSearchText = '';

  get searchText (): string {
    return this.$store.state.searchText;
  }

  set searchText (value: string) {
    this.tempSearchText = value;

    setTimeout(() => {
      if (this.tempSearchText === value) {
        this.$store.dispatch('setSearchText', {
          searchText: value.trim()
        });
      }
    }, 500);
  }

  private clearSearchText (): void {
    this.$store.dispatch('setSearchText', {
      clear: true
    });
  }
}
</script>

<style lang="scss" scoped>
@import "~bootstrap/scss/bootstrap.scss";

.c-global-search {
  position: relative;
  width: auto;
  display: flex;
  background-color: white;
  border-radius: 4px;

  &__input {
    padding-right: 1rem;
  }

  &__clear {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 38px;
    border-radius: 0 4px 4px 0;
    border-width: 1px 1px 1px 0;
    border-color: #ced4da #ced4da #ced4da white;
    border-style: solid;
    background: white;
    transition: color 0.4s, background-color 0.4s, border-color 0.4s, opacity 0.4s;

    &:hover {
      color: white;
      border-color: $danger;
      background: $danger;
    }

    &--hide {
      opacity: 0;
      pointer-events: none;
    }
  }
}
</style>
