<template>
  <div class="c-save-dialog">
    <button class="btn btn-primary ml-2" @click="toggleDialog(true)">
      Load
      <i class="fas fa-upload"></i>
    </button>

    <modal-container
      class title="Save project"
      :show="show"
      :on-confirm="() => toggleDialog(false)"
      :on-close="() => toggleDialog(false)">

      <template v-slot:content>
        <ul class="nav nav-tabs mb-3">
          <li class="nav-item">
            <button class="nav-link" :class="{'active': selectedLoadType === LoadType.Memory}" @click="setLoadType(LoadType.Memory)">
              Load from Memory
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" :class="{'active': selectedLoadType === LoadType.Import}" @click="setLoadType(LoadType.Import)">
              Import from file
            </button>
          </li>
        </ul>

        <div v-if="selectedLoadType === LoadType.Memory">
          <div class="list-group">
            <button
              class="list-group-item list-group-item-action"
              :class="{'active': selectedProjectIndex === index}"
              v-for="(project, index) in savedProjectNames"
              :key="project"
              @click="setSelectedProjectIndex(index)"
              type="button"
              aria-current="true">
              {{ project }}
            </button>
          </div>
        </div>
        <div v-if="selectedLoadType === LoadType.Import">
          <input type="file" ref="fileInput">
        </div>
      </template>

      <template v-slot:footer>
        <div class="c-modal-container-footer">
          <button type="button" class="btn btn-primary mr-3" @click="load()">
            Load
          </button>
          <button type="button" class="btn btn-secondary" @click="toggleDialog(false)">
            Cancel
          </button>
        </div>
      </template>
    </modal-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { ElementType } from '@/types';

// Components
import ModalContainer from '@/components/modal-container.component.vue';

import { ContainerElementModel } from '@/models/container-element.model';
import { GenericElementModel } from '@/models/generic-element.model';
import { ProjectModel } from '@/models/project.model';
import { TextElementModel } from '@/models/text-element.model';

enum LoadType {
  Memory,
  Import
}

@Component({
  components: {
    ModalContainer
  }
})
export default class LoadDialog extends Vue {
  private LoadType = LoadType;

  private selectedLoadType = LoadType.Memory;
  private selectedProjectIndex: number | null = null;
  private show = false;

  get savedProjectNames (): string[] {
    return Object.keys(localStorage)
      .filter(key => key.indexOf('ProjectSavedData') !== -1)
      .map(key => key.split('_')[1]);
  }

  private load (): void {
    let loadingPromise: Promise<ProjectModel> | null = null;

    if (this.selectedLoadType === LoadType.Memory) {
      if (this.selectedProjectIndex === null) {
        console.warn('Please select a project before proceeding');
        return;
      }

      const projectData = localStorage.getItem(`ProjectSavedData_${this.savedProjectNames[this.selectedProjectIndex]}`);
      if (projectData) {
        const project = JSON.parse(projectData);
        loadingPromise = Promise.resolve(project);
      }
      else {
        loadingPromise = Promise.reject(new Error('Project data not found'));
      }
    }
    if (this.selectedLoadType === LoadType.Import) {
      const file = (this.$refs.fileInput as HTMLInputElement).files?.[0];

      if (file) {
        loadingPromise = new Promise((resolve, reject) => {
          const reader = new FileReader();
          reader.readAsText(file, 'UTF-8');
          reader.onload = (event) => {
            const data = event.target?.result;
            if (data) {
              resolve(JSON.parse(data as string));
            }
          };
          reader.onerror = (event) => {
            reject(event);
          };
        });
      }
    }

    if (loadingPromise) {
      loadingPromise
        .then((project: ProjectModel) => {
          project.elements = project.elements.map((element: GenericElementModel) => LoadDialog.parseElement(element));

          this.$store.dispatch('loadProject', {
            project
          });
          this.toggleDialog(false);
        });
    }
  }

  private static parseElement (element: GenericElementModel): GenericElementModel {
    if (element.type === ElementType.Container) {
      return new ContainerElementModel(element as ContainerElementModel);
    }
    if (element.type === ElementType.Text) {
      return new TextElementModel(element as TextElementModel);
    }

    return new GenericElementModel(element);
  }

  private setLoadType (type: LoadType) {
    this.selectedLoadType = type;
  }

  private setSelectedProjectIndex (index: number) {
    this.selectedProjectIndex = index;
  }

  private toggleDialog (show: boolean) {
    this.show = show || !this.show;
  }
}
</script>
