<template>
  <div class="c-save-dialog">
    <button class="btn btn-primary ml-2" @click="toggleDialog(true)">
      Save
      <i class="fas fa-download"></i>
    </button>

    <modal-container class title="Save project" :show="show" :on-confirm="() => toggleDialog(false)" :on-close="() => toggleDialog(false)">
      <template v-slot:content>
        <ul class="nav nav-tabs mb-3">
          <li class="nav-item">
            <button class="nav-link" :class="{'active': selectedSaveType === SaveType.Memory}" @click="setSaveType(SaveType.Memory)">
              Save to Memory
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" :class="{'active': selectedSaveType === SaveType.Export}" @click="setSaveType(SaveType.Export)">
              Export as file
            </button>
          </li>
        </ul>

        <div class="mb-3">
          <label for="projectName" class="form-label">Project Name</label>
          <input class="form-control" id="projectName" aria-describedby="Project Name" v-model="projectName">
        </div>

        <a ref="downloadAnchor" style="display: none"></a>
      </template>

      <template v-slot:footer>
        <div class="c-modal-container-footer">
          <button type="button" class="btn btn-primary mr-3" @click="save">
            Save
          </button>
          <button type="button" class="btn btn-secondary" @click="toggleDialog(false)">
            Cancel
          </button>
        </div>
      </template>
    </modal-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

// Components
import ModalContainer from '@/components/modal-container.component.vue';

// Models
import { GenericElementModel } from '@/models/generic-element.model';

enum SaveType {
  Memory,
  Export
}

@Component({
  components: {
    ModalContainer
  }
})
export default class SaveDialog extends Vue {
  private SaveType = SaveType;

  private projectName = '';
  private selectedSaveType = SaveType.Memory
  private show = false;

  private save (): void {
    // First, save project name to store
    this.$store.dispatch('setProjectName', {
      projectName: this.projectName
    });

    const project = this.$store.state.project;
    project.elements = project.elements.map((element: GenericElementModel) => element.getSaveableObject());

    if (this.selectedSaveType === SaveType.Memory) {
      localStorage.setItem(`ProjectSavedData_${this.projectName}`, JSON.stringify(project));
    }
    if (this.selectedSaveType === SaveType.Export) {
      const data = `data:text/json;charset=utf-8,${encodeURIComponent(JSON.stringify(project, null, ' '))}`;
      const downloadAnchor: HTMLAnchorElement = (this.$refs.downloadAnchor as HTMLAnchorElement);
      downloadAnchor.setAttribute('href', data);
      downloadAnchor.setAttribute('download', `${this.projectName}.json`);
      downloadAnchor.click();
    }

    // After saving, close dialog
    this.toggleDialog(false);
  }

  private setSaveType (type: SaveType) {
    this.selectedSaveType = type;
  }

  private toggleDialog (show: boolean) {
    this.show = show || !this.show;

    // Pre-load project name input with currently loaded project's name
    if (this.show) {
      this.projectName = this.$store.state.project.name;
    }
  }
}
</script>
