<template>
  <draggable-box class="c-text" :element="element">
    <textarea class="c-text__input" v-model="element.content"></textarea>
  </draggable-box>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

// Components
import DraggableBox from '@/components/draggable-box.component.vue';

// Models
import { TextElementModel } from '@/models/text-element.model';

@Component({
  components: {
    DraggableBox
  }
})
export default class TextElement extends Vue {
  @Prop({
    type: Object,
    required: true
  })
  private element: TextElementModel | undefined;
}
</script>

<style lang="scss" scoped>
 .c-text {
   &__input {
     flex: 1;
     resize: none;
   }
 }
</style>
