<template>
  <div class="c-tool-bar">
    <h3 class="c-tool-bar__project-name">
      {{ project.name }}
    </h3>

    <global-search/>
    <load-dialog/>
    <save-dialog/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

// Components
import GlobalSearch from '@/components/global-search.component.vue';
import LoadDialog from './load-dialog.component.vue';
import SaveDialog from './save-dialog.component.vue';

// Models
import { ProjectModel } from '@/models/project.model';

@Component({
  components: {
    GlobalSearch,
    LoadDialog,
    SaveDialog
  }
})
export default class ToolBar extends Vue {
  get project (): ProjectModel {
    return this.$store.state.project;
  }
}
</script>

<style lang="scss" scoped>
  .c-tool-bar {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    display: flex;
    align-items: center;
    background: #acacac;

    &__project-name {
      margin: 0;
      color: white;
      flex: 1;
    }
  }
</style>
