<template>
  <div id="app">
    <tool-bar/>

    <canvas-layer
      class="canvas"
      :elements="project.elements"
      @new-element="handleNewElement"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

// Components
import ToolBar from '@/components/tool-bar.component.vue';

// Models
import { GenericElementModel } from '@/models/generic-element.model';
import { ProjectModel } from '@/models/project.model';

@Component({
  components: {
    ToolBar
  }
})
export default class App extends Vue {
  get project (): ProjectModel {
    return this.$store.state.project;
  }

  private handleNewElement (element: GenericElementModel) {
    this.$store.dispatch('addElement', {
      element
    });
  }
}
</script>

<style lang="scss">
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .toolbox {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    background: #acacac;

    &__project-name {
      margin: 0 0 0 1rem;
      color: white;
    }
  }

  .canvas {
    flex: 1;
  }
}
</style>
